/* Work Sans font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

  /* Shared Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.grey-text{
  color: #727272 ;
}
.section-title{
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
.button-primary{
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  font-size: 1.25rem;
  padding: 1.25rem 1.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;

}


/* Header starts */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
  

}
nav li a{
  text-decoration: none;
  color: #424242;
}

/* Banner section starts */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  color: #131313;
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  color: #727272;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* Main Starts */
main{
  max-width: 1440px;
  margin: 0 auto;
  margin: 4.5rem auto;
}
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-left: 4.375rem;
  padding-left: 4.375rem;
}
.teams-title{
  font-size: 2.9rem;
}
.quick{
  color: #727272;
  font-weight: 500;
}
.of-our{
  color: #131313;
  font-weight: 700;
}
.features{
  color: #FF900E;
  font-weight: 700;
}
.teams-description{
  color: #727272;
}
/* features start */
.features-container{
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.feature-content .section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-image img{
  height: 90%;
}

.feature-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years{
  border-radius: 8px;
  background: #FF900E;
  width: 342px;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
  right: 90px;
}
.ten-years h3{
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}
.ten-years p{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}
/* Facts Start */
.fact-card-container{
  display: flex;
  justify-content: space-around;
}
.fact-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 2.75rem 2rem;
}
.fact-card-container .card-stat{
  font-size: 2.8rem;
  color: #424242;
  margin: 8px 0;
}
.fact-card-container .card-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin: 5px;
}

/* Sponsor start */
.sponsors{
  text-align: center;
}
.sponsor-img-container{
  margin-top: 50px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 20px;
}
.sponsor-img-container img {
  width: 165px;
}

/* Responsive media query */

/* Mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 10px;
  }
 .teams-content, .fact-card-container{
    padding: 10px 10px;
  }
  nav, .teams-container, .fact-card-container, .sponsor-img-container, .features-container{
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .fact-card-container{
    gap: 20px;
  }
  .feature-image{
    align-items: center;
  }
  .feature-image img{
    width: 97%;
    
  }
  .ten-years{
    border-radius: 8px;
    background: #FF900E;
    max-width: 50%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    margin-left: 10px;
  }
  
}

/* Tablet or Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav, .teams-container, .sponsor-img-container{
    flex-direction: column;
  }
 .fact-card-container{
  flex-direction: column;
  flex-wrap: wrap;
 }

}