/* Work Sans font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

  /* Shared Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.button-primary{
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  font-size: 1.25rem;
  padding: 1.25rem 1.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;

}


/* Header starts */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav ul {
  display: flex;
}
nav ul li{
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
  

}
nav li a{
  text-decoration: none;
  color: #424242;
}

/* Banner section starts */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  color: #131313;
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  color: #727272;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}


/* Responsive media query */

/* Mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 10px 5px;
  }
  nav{
    flex-direction: column;
  }
}

/* Tablet or Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
}